html, 
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #beb9b3;
}

.station-end-circle,
.station-circle {
	stroke-width: 4;
}

.station-circle {
	stroke: #7e786c;
	fill: #e3ddd5;
}

.station-end-circle {
	fill: none;
}

.track-polyline {
    fill: none;
    stroke-linecap: round;
}

.cars-group {
	filter: url(#dropshadow);
}

.car-rect {
	fill: #e3ddd5;
	stroke-width: 1;
}

.label-text,
.points-first-text,
.points-others-text {
	text-anchor: middle;
	alignment-baseline: central;
	dominant-baseline: central;
}

.label-text {
	fill: #e3ddd5;
	font: bold 26px "Arial Black",Arial,sans-serif;
	text-anchor: middle;
    text-shadow: 0 0 2.5px rgba(0,0,0,0.4);
}


.points-first-text {
	fill: #000;
	font: bold 18px "Arial Black",Arial,sans-serif;
}

.points-others-text {
	fill: #000;
	font: bold 18px "Arial Black",Arial,sans-serif;
}

.points-first-path {
	fill: #cba61e;
}

.points-others-rect {
	fill: #e3ddd5;
	stroke: #ada694;
    stroke-width: 2;
}
